.calendar-cell {
  background-color: grey;
  color: white;
  border-radius: 2px;
}
.calendar-cell-today {
  background-color: #6565a0;
  color: white;
  border-radius: 2px;
}
window {
  background-color: #f5f7fa;
}
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
frame {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
frame > label {
  margin-top: 6px;
  margin-left: 6px;
}

.small-label {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.stocks-box .stock-price:first-child {
  margin-top: 94px;
}
.stocks-box .small-label {
  font-size: 16px;
  margin-top: 6px;
}
.stocks-box {
  margin-top: 13px;
}
.stocks-box label {
  font-size: 28px;
}

.sports-box label {
  padding-left: 20px;
}
